# SPDX-License-Identifier: Apache-2.0 WITH LLVM-exception

/.cache
/compile_commands.json
/build
/.build/
/.install/
.update-submodules
/installtest/.build/

# Python / uv
/.venv/
uv.lock

# Emacs
*~
\#*\#
/.emacs.d/eln-cache/
/.emacs.d/elpa*/
*.deps
*.html

# Doxygen
/docs/html/

# IDE settings
.vscode

# ignore vim swap files
.swp

# ignore merge/patch backup files
.orig
